[submodule "httpd/eurasia36_kz"]
	path = httpd/eurasia36_kz
	url = https://github.com/eurasia-insurance/eurasia36-web.git
[submodule "httpd/payment_eurasia36_kz"]
	path = httpd/payment_eurasia36_kz
	url = https://github.com/eurasia-insurance/epayment-web.git
